/* General styles */


#links a {
    color: #888;
    text-decoration: none;
    transition: color 0.3s;
}

#links a:hover {
    color: #555;
    text-decoration: underline;
}

#links a:visited {
    color: #aaa;
}
