/* General styles */
#links a {
    color: rgba(46, 134, 193);
    text-decoration: none;
    transition: color 0.3s;
}

#links a:hover {
    color: rgba(133, 193, 233);
    text-decoration: underline;
}
